main {
  margin: 0px 100px;
}
.nav-item {
  padding-left: 120px;
}

.header{
  margin-bottom:20px;
}
.card-text small {
  color: blue;
}
.courses {
  margin-left: 50px;
}


.elearning,
.register,
.success,
.student-review {
  margin: 100px 80px 100px;
}
.register {
  background-color: #289bde;
  height: 300px;
}
.register-info {
  color: white;
  margin: 70px 100px;
}
.reg-btn {
  background-color: white;
  color: #289bde;
  border-radius: 5px;
  border: none;
  height: 30px;
  position: relative;
  top: 50%;
}
.success-header {
  width: 500px;
}
.companies-header{
  text-align: center;
}
footer{
  height:472px;
  width: 100%;
  background-color: #161616;
  margin:100px 0 0 0;
}
.footer-info{
  padding-top: 150px;
  color: white;
} 

